@inherits LayoutComponentBase
<div class="mainLayout">
  <div class="header">
      <div class="title">Stellar Wallet</div>
  </div>
  <div class="sidebar">SIDEBAR</div>
    <div class="pages">
        @Body
    </div>
</div>
<div class="footer">FOOTER</div>
