@* <BSToaster/>
@inject IBlazorStrap blazorStrap

<BSModal DataId="model8" OnShow="@(() => LoggedUser(new User()))" HideOnValidSubmit="true" IsStaticBackdrop="true">
    <BSForm Model="model" OnValidSubmit="@Update">
        <DataAnnotationsValidator/>
        <BSModalHeader><span class="modalTitle">Login</span></BSModalHeader>
        <BSModalContent>
            <div class="modalInput">
                <BSLabel>Email address</BSLabel>
                <BSInput InputType="InputType.Email" placeholder="name@example.com" @bind-Value="model.Email" />
                <BSFeedback For="@(() => model.Email)" />
            </div>
            <div class="modalInput">
                <BSLabel>Password</BSLabel>
                <BSInput InputType="InputType.Password" placeholder="Your password..." @bind-Value="model.Password" />
                <BSFeedback For="@(() => model.Password)" />
            </div>
        </BSModalContent>
        <BSModalFooter>
            <BSButton Target="model8" Color="BSColor.Danger">Cancel</BSButton>
            <BSButton IsSubmit="true" Color="BSColor.Primary">Save</BSButton>
        </BSModalFooter>
    </BSForm>
</BSModal>

<BSButton Color="BSColor.Primary" IsOutlined="true" Class="w-50 fs-3 shadow-lg" Target="model9">Sign In</BSButton>

@code {
    BSModal? refModal;
    private User model = new User();

    private async Task LoggedUser(User e)
    {
        model = e; 
    }

    private async Task Update()
    {
        blazorStrap.Toaster.Add("Fake record added!", options => options.CloseAfter = 5000);
    }

    public class User
    {
        [Required(ErrorMessage = "User's Email address must be provided.")]
        [EmailAddress(ErrorMessage = "User's Email address must be valid.")]
        public string? Email { get; set; }

        [Required(ErrorMessage = "Password must be provided.")]
        [StringLength(50, MinimumLength = 8, ErrorMessage = "Password must have 6 to 50 characters.")]
        public string? Password { get; set; }
    }
} *@