@* Register.razor *@
@layout HomeLayout

<PageTitle>Home</PageTitle>
@page "/"

<div class="container">
    <div class="two alt-two">
        <h1 class="title">
            Welcome to CRIPPY
            <span>YOUR STELLAR BEST FRIEND</span>
        </h1>
    </div>
    <div class="btn-container">
        <SignIn />
        <br />
        <SignUp />
    </div>    
</div>