.container {
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    background-color: #cadcf3;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.two {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    width: 100%;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 60px;
    text-shadow: 8px 8px 16px #5a89d7;
    color: #364d97;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 18px;
    line-height: 1.3;
    color: #cadcf3;
    margin-top: 20%;
    margin-bottom: 5%;
}

h1 em {
    font-style: normal;
    font-weight: 600;
    color: #3c5cb9;
}

.two h1:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 2px;
    content: "";
    background-color: #3c5cb9;
}

.two h1 span {
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 3em;
    color: #466eca;
}

.alt-two h1 {
    text-align: center;
}

.alt-two h1:before {
    left: 50%;
    margin-left: -30px;
}

@media (max-width: 768px) {
    .mainTitle {
        font-size: 300%;
        margin-bottom: 20%;
    }

    .slogan {
        font-size: 150%;
        margin-bottom: 10%;
    }
}
